*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-y: overlay;
}

body > iframe {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  line-height: 1;
  font-family: "Lato", sans-serif !important;
  font-weight: 500;
}

a {
  text-decoration: none;
}

body[data-theme="todoListLight"] {
  --colors-primary-light: #ebeff0;
  --colors-primary-main: #95a7b0;
  --colors-primary-strong: #88959b;
  --colors-primary-text: #3f606e;

  --colors-secondary-light: #517a8c;
  --colors-secondary-main: #3f606f;
  --colors-secondary-strong: #2c4c5b;
  --colors-secondary-text: #ffffff;
}

body[data-theme="todoListDark"] {
  --colors-primary-light: #395561;
  --colors-primary-main: #263941;
  --colors-primary-strong: #203843;
  --colors-primary-text: #ffffff;

  --colors-secondary-light: #b3804e;
  --colors-secondary-main: #ce8338;
  --colors-secondary-strong: #a25f1d;
  --colors-secondary-text: #203843;
}

@keyframes wave {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes borderWave {
  0% {
    border-radius: 200px 210px 200px 155px;
  }
  25% {
    border-radius: 210px 200px 190px 175px;
  }
  50% {
    border-radius: 220px 190px 200px 195px;
  }
  75% {
    border-radius: 210px 200px 190px 175px;
  }
  100% {
    border-radius: 200px 210px 200px 155px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAlt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeftAlt {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightAlt {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shakeDeg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
